{
  "validators": {
    "validatorA addr": {
      "name": "Tom",
      "email_to": ["a@foxmail.com", "b@foxmail.com"]
    },
	"validatorB addr": {
	  "name": "Jerry",
	  "email_to": []
    }
  },
  "email": {
    "enable": false,
    "host": "your.email.hostname",
    "port": 25,
    "ssl": true,
    "uid": "your email user id",
    "pwd": "your email password",
    "from": "alice@email.com"
  }
}